* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial black, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    background-image: url("home/cutebakery.jpg");
    background-size: cover;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    width: 100%;
    width: 1300px;
    height: 200px;
    background-color: rgb(212, 121, 139);
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin: 0 auto;
}

.menu_items {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;

}

.button {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: pink;
}

.counter-display {
    position: fixed;
    bottom: -0.5;
    right: 0;
    width: 100vw; /* half the viewport width */
    height: 100vh; /* half the viewport height */
    background-image: url('counter.png'); /* replace with your image URL */
    background-size: cover; /* make sure the image fills the area */
    background-position: center;
  }